// import
@import "navbar";
@import "homepage";
@import "color";
@import "component";

body {
  background: #fff;
  font-family: "Inria Sans", system-ui;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
}
